@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;1,200&family=Georama:ital,wght@1,200&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=League+Spartan:wght@100;200&family=Merienda:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,400;1,300&family=Poppins:ital@1&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');
*,*::after,*::before{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 5rem;
    font-weight:bold;

}
.coming-soon{
    min-height: 100vh;
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown{
    padding:30px;
    display:flex;
    justify-content: space-around;
}
.day,
.hour,
.minute,
.second{
    font-size: 3rem;
}
.waiting{
    height:50vh;
}